version: "3.9"
services:
  web:
    container_name: tp1-sim
    build: .
    ports:
      - "5000:5000"
    volumes:
      - .:/code
    environment:
      FLASK_ENV: development

networks:
  default:
    external:
            name: tp1-sim

